@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Noto+Serif+Display:ital@1&family=Cormorant+Garamond&family=Dancing+Script&family=Great+Vibes&family=Allura&display=swap');

body {
    font-family: 'Great Vibes', cursive;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    color: rgba(140, 115, 87, 255); /* Warna font diubah */
}

.header {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Memindahkan tulisan ke kiri */
    transition: opacity 1s;
    text-align: left; /* Memastikan teks rata kiri */
}

.place {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Memindahkan tulisan ke tengah */
    transition: opacity 1s;
    text-align: center; /* Memastikan teks rata tengah */
}

.place img[alt="Location and Time"] {
    width: 100%;
    max-width: 600px; /* Sesuaikan dengan ukuran maksimum yang diinginkan */
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: 300;
    animation: fadeIn 2s;
}

.place h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    font-weight: 300;
    animation: fadeIn 2s;
}
.header p, .place p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.header h1:hover, .header p:hover, .place h1:hover, .place p:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.dresscode {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s;
}

.dresscode h5 {
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}

.dresscode img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dresscode p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: justify;
}

.dresscode p.center-text {
    text-align: center;
}

.flower.dresscode-left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower.dresscode-right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.itinerary {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s;
}

.itinerary h6 {
    font-family: 'Noto Serif Display', serif;
    font-size: 3em;
    margin-bottom: 20px;
}

.itinerary p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    border: 2px solid #9a836b;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    background-color: #9a836b; /* Warna latar belakang box */
    color: #f5f5dc; /* Warna tulisan */
    text-align: start;
}

.flower.itinerary-left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower.itinerary-right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower.itinerary-right-top {
    width: 180px;
    height: 370px;
    top: 10px;
    right: 10px;
    background-image: url('flower-top-right.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.gift {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s;
}

.gift h7 {
    font-family: 'Noto Serif Display', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

.gift p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: start;
}

.bank-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Membuat 2 kolom dengan lebar yang sama */
    gap: 20px; /* Jarak antara kolom */
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.bank-account {
    /* border: 2px solid #9a836b; Warna border */
    border-radius: 10px; /* Border rounded */
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent; /* Menghapus warna latar belakang */
    color: rgba(140, 115, 87, 255); /* Warna tulisan mengikuti tema */
    margin-bottom: 20px; /* Menambahkan margin bawah untuk jarak antar kolom */
}

.bank-account h8 {
    font-family: 'Noto Serif Display', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.bank-account p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 5px;
}

.copy-icon {
    cursor: pointer;
    margin-left: 5px; /* Mengurangi jarak antara ikon dan nomor rekening */
    font-size: 0.8em; /* Mengurangi ukuran ikon */
    color: rgba(140, 115, 87, 255); /* Warna ikon mengikuti tema */
    vertical-align: middle; /* Menyelaraskan ikon dengan teks */
}

.copy-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.flower.gift-left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower.gift-right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower.gift-left-top {
    width: 300px;
    height: 160px;
    top: 10px;
    left: 10px;
    background-image: url('flower-top-left.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.notes {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s;
}

.note-box {
    border: 2px solid rgba(140, 115, 87, 255); /* Warna border sesuai tema */
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.note-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    margin-bottom: 50px;
    text-align: start;
}

.note-signature {
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    font-size: 1.8em;
    text-align: start;

}

.flower.notes-left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower.notes-right-bottom {
    width: 200px;
    height: 500px;
    bottom: 10px;
    right: 10px;
    background-image: url('last-flower-right.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s; /* Menambahkan transisi untuk opacity */
}
.flower.left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    animation: fadeInFlower 2s forwards;
}
.flower.right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    animation: fadeInFlower 2s forwards;
}
.flower.right-top {
    width: 180px;
    height: 370px;
    top: 10px;
    right: 10px;
    background-image: url('flower-top-right.png');
    background-repeat: no-repeat;
    animation: fadeInFlower 2s forwards;
}
.flower.place-left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    opacity: 0;
    transition: opacity 1s;
}
.flower.place-right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    opacity: 0;
    transition: opacity 1s;
}
@keyframes fadeInFlower {
    from { opacity: 0; }
    to { opacity: 1; }
}
.map-place {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
@media (max-width: 768px) {
    .notes {
        padding: 30px;
    }
    .note-box {
        width: 90%;
    }
    .note-text {
        font-size: 2em;
    }
    .note-signature {
        font-size: 1.8em;
    }
    .gift {
        padding: 30px;
    }
    .gift h7 {
        font-size: 1.8em;
    }
    .gift p {
        font-size: 1.2em;
    }
    .bank-details {
        flex-direction: column;
        align-items: center;
    }
    .bank-account {
        width: 80%;
        margin-bottom: 20px;
    }
    .itinerary {
        padding: 30px;
    }
    .itinerary h6 {
        font-size: 2em;
    }
    .itinerary p {
        font-size: 1em;
        width: 90%;
    }
    .dresscode {
        padding: 30px;
    }
    .dresscode h5 {
        font-size: 1.8em;
    }
    .dresscode img {
        width: 400px;
    }
    .place img[alt="Location and Time"] {
        max-width: 90%;
        height: auto;
    }
    .header, .place {
        padding: 30px;
    }
    .header h1, .place h1 {
        font-size: 2.5em;
    }
    .header p, .place p {
        font-size: 1.2em;
    }
    .flower {
        animation-duration: 3s;
    }
    .flower.left-bottom {
        width: 280px;
        height: 220px;
    }
    .flower.right-bottom {
        width: 280px;
        height: 220px;
    }
    .flower.right-top {
        width: 220px;
        height: 450px;
    }
    .flower.place-left-bottom {
        width: 280px;
        height: 220px;
    }
    .flower.place-right-bottom {
        width: 280px;
        height: 220px;
    }
    .map-place {
        width: 90%;
        height: 300px;
    }
    .section h2 {
        font-size: 2em; /* Ukuran font diubah untuk layar kecil */
    }
    .section h3 {
        font-size: 1.8em; /* Ukuran font diubah untuk layar kecil */
    }
}
@media (max-width: 678px) {
    .section h2 {
        font-size: 1.8em; /* Ukuran font diubah untuk layar lebih kecil */
    }
    .section h3 {
        font-size: 1.6em; /* Ukuran font diubah untuk layar lebih kecil */
    }
    .place img[alt="Location and Time"] {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 480px) {
    .notes {
        padding: 20px;
    }
    .note-box {
        width: 75%;
        padding-left: 15px;
        padding-right: 15px;

    }
    .note-text {
        font-size: 1.5em;
    }
    .note-signature {
        font-size: 1.3em;
    }
    .flower.notes-left-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.notes-right-bottom{
        width: 100px;
        height: 260px;
    }
    .gift {
        padding: 20px;
    }
    .gift h7 {
        font-size: 2em;
    }
    .gift p {
        font-size: 1em;
    }
    .bank-details {
        grid-template-columns: repeat(2, 1fr); /* Tetap 2 kolom pada layar kecil */
    }
    .bank-account {
        width: 100%;
    }
    .flower.gift-left-bottom,
    .flower.gift-right-bottom{
        width: 150px;
        height: 100px;
    }
    .flower.gift-left-top {
        width: 175px;
        height: 95px;
    }
    .itinerary {
        padding: 20px;
    }
    .itinerary h6 {
        font-size: 2em;
    }
    .itinerary p {
        font-size: 0.9em;
        width: 100%;
    }
    .flower.itinerary-left-bottom,
    .flower.itinerary-right-bottom{
        width: 150px;
        height: 100px;
    }
    .flower.itinerary-right-top {
        width: 120px;
        height: 260px;
    }
    .dresscode {
        padding: 20px;
    }
    .dresscode h5 {
        font-size: 1.5em;
    }
    .dresscode img {
        width: 300px;
    }
    .place img[alt="Location and Time"] {
        max-width: 90%;
        height: auto;
    }
    .header, .place {
        padding: 20px;
    }
    .header h1{
        font-size: 2em;
    }
    .place h1 {
        font-size: 3em;
    }
    .header p, .place p {
        font-size: 1em;
    }
    .dresscode p {
        font-size: 1.2em;
    }
    .flower {
        animation-duration: 3s;
    }
    .flower.left-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.right-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.right-top {
        width: 120px;
        height: 260px;
    }
    .flower.place-left-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.place-right-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.dresscode-left-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.dresscode-right-bottom {
        width: 150px;
        height: 100px;
    }
    .map-place {
        width: 100%;
        height: 250px;
    }
    .section h2 {
        font-size: 1.5em; /* Ukuran font diubah untuk layar lebih kecil */
    }
    .section h3 {
        font-size: 1.3em; /* Ukuran font diubah untuk layar lebih kecil */
    }
}
.section {
    padding: 50px;
    color: rgba(140, 115, 87, 255); /* Warna font diubah */
    animation: slideInUp 2s ease-out forwards;
    opacity: 0;
    transition: opacity 1s;
}
@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.section.visible {
    opacity: 1;
}
.section h2 {
    font-family: 'Allura', cursive; /* Font diubah menjadi Allura */
    font-size: 4em; /* Ukuran font diperbesar */
    font-weight: 300;
    margin-bottom: 20px;
}
.section p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.section img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; /* Jarak antara gambar dan teks diubah */
}
.section h3 {
    font-family: 'Allura', cursive; /* Font diubah menjadi Allura */
    font-size: 3em; /* Ukuran font diperbesar */
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px; /* Jarak antara gambar dan teks diubah */
}
.date-image {
    width: 300px; /* Sesuaikan ukuran gambar */
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
}

#playPauseBtn {
    display: none; /* Menyembunyikan tombol play/pause */
}

@media (max-width: 768px) {
    .section {
        padding: 30px;
    }
    .section p, .section .date-image {
        font-size: 1.2em;
    }
    .section img {
        width: 250px;
    }
    .date-image {
        width: 250px; /* Sesuaikan ukuran gambar */
    }
}
@media (max-width: 480px) {
    .section {
        padding: 20px;
    }
    .section p, .section .date-image {
        font-size: 1em;
    }
    .section img {
        width: 200px;
    }
    .date-image {
        width: 200px; /* Sesuaikan ukuran gambar */
    }
}