@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital@1&family=Cormorant+Garamond&family=Dancing+Script&family=Great+Vibes&family=Allura&display=swap');

body {
    font-family: 'Great Vibes', cursive;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    color: rgba(140, 115, 87, 255); /* Warna font diubah */
}

.header {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Memindahkan tulisan ke kiri */
    transition: opacity 1s;
    text-align: left; /* Memastikan teks rata kiri */
}

.place {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Memindahkan tulisan ke tengah */
    transition: opacity 1s;
    text-align: center; /* Memastikan teks rata tengah */
}

.place img[alt="Location and Time"] {
    width: 100%;
    max-width: 600px; /* Sesuaikan dengan ukuran maksimum yang diinginkan */
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: 300;
    animation: fadeIn 2s;
}

.place h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    font-weight: 300;
    animation: fadeIn 2s;
}
.header p, .place p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.header h1:hover, .header p:hover, .place h1:hover, .place p:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
.dresscode {
    padding: 50px;
    color: rgba(140, 115, 87, 255);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s;
}

.dresscode h5 {
    font-family: 'Noto Serif Display', serif;
    font-style: italic;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px;
}

.dresscode img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.dresscode p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: justify;
}

.dresscode p.center-text {
    text-align: center;
}

.flower.dresscode-left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower.dresscode-right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s;
}

.flower {
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s; /* Menambahkan transisi untuk opacity */
}
.flower.left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    animation: fadeInFlower 2s forwards;
}
.flower.right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    animation: fadeInFlower 2s forwards;
}
.flower.right-top {
    width: 180px;
    height: 370px;
    top: 10px;
    right: 10px;
    background-image: url('flower-top-right.png');
    background-repeat: no-repeat;
    animation: fadeInFlower 2s forwards;
}
.flower.place-left-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    left: 10px;
    background-image: url('flower-left.png');
    opacity: 0;
    transition: opacity 1s;
}
.flower.place-right-bottom {
    width: 300px;
    height: 200px;
    bottom: 10px;
    right: 10px;
    background-image: url('flower-right.png');
    opacity: 0;
    transition: opacity 1s;
}
@keyframes fadeInFlower {
    from { opacity: 0; }
    to { opacity: 1; }
}
.map-place {
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}
@media (max-width: 768px) {
    .dresscode {
        padding: 30px;
    }
    .dresscode h5 {
        font-size: 1.8em;
    }
    .dresscode img {
        width: 400px;
    }
    .place img[alt="Location and Time"] {
        max-width: 90%;
        height: auto;
    }
    .header, .place {
        padding: 30px;
    }
    .header h1, .place h1 {
        font-size: 2.5em;
    }
    .header p, .place p {
        font-size: 1.2em;
    }
    .flower {
        animation-duration: 3s;
    }
    .flower.left-bottom {
        width: 280px;
        height: 220px;
    }
    .flower.right-bottom {
        width: 280px;
        height: 220px;
    }
    .flower.right-top {
        width: 220px;
        height: 450px;
    }
    .flower.place-left-bottom {
        width: 280px;
        height: 220px;
    }
    .flower.place-right-bottom {
        width: 280px;
        height: 220px;
    }
    .map-place {
        width: 90%;
        height: 300px;
    }
    .section h2 {
        font-size: 2em; /* Ukuran font diubah untuk layar kecil */
    }
    .section h3 {
        font-size: 1.8em; /* Ukuran font diubah untuk layar kecil */
    }
}
@media (max-width: 678px) {
    .section h2 {
        font-size: 1.8em; /* Ukuran font diubah untuk layar lebih kecil */
    }
    .section h3 {
        font-size: 1.6em; /* Ukuran font diubah untuk layar lebih kecil */
    }
    .place img[alt="Location and Time"] {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 480px) {
    .dresscode {
        padding: 20px;
    }
    .dresscode h5 {
        font-size: 1.5em;
    }
    .dresscode img {
        width: 300px;
    }
    .place img[alt="Location and Time"] {
        max-width: 90%;
        height: auto;
    }
    .header, .place {
        padding: 20px;
    }
    .header h1{
        font-size: 2em;
    }
    .place h1 {
        font-size: 3em;
    }
    .header p, .place p {
        font-size: 1em;
    }
    .dresscode p {
        font-size: 1.2em;
    }
    .flower {
        animation-duration: 3s;
    }
    .flower.left-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.right-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.right-top {
        width: 120px;
        height: 260px;
    }
    .flower.place-left-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.place-right-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.dresscode-left-bottom {
        width: 150px;
        height: 100px;
    }
    .flower.dresscode-right-bottom {
        width: 150px;
        height: 100px;
    }
    .map-place {
        width: 100%;
        height: 250px;
    }
    .section h2 {
        font-size: 1.5em; /* Ukuran font diubah untuk layar lebih kecil */
    }
    .section h3 {
        font-size: 1.3em; /* Ukuran font diubah untuk layar lebih kecil */
    }
}
.section {
    padding: 50px;
    color: rgba(140, 115, 87, 255); /* Warna font diubah */
    animation: slideInUp 2s ease-out forwards;
    opacity: 0;
    transition: opacity 1s;
}
@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.section.visible {
    opacity: 1;
}
.section h2 {
    font-family: 'Allura', cursive; /* Font diubah menjadi Allura */
    font-size: 4em; /* Ukuran font diperbesar */
    font-weight: 300;
    margin-bottom: 20px;
}
.section p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.section img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; /* Jarak antara gambar dan teks diubah */
}
.section h3 {
    font-family: 'Allura', cursive; /* Font diubah menjadi Allura */
    font-size: 3em; /* Ukuran font diperbesar */
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px; /* Jarak antara gambar dan teks diubah */
}
.date-image {
    width: 300px; /* Sesuaikan ukuran gambar */
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .section {
        padding: 30px;
    }
    .section p, .section .date-image {
        font-size: 1.2em;
    }
    .section img {
        width: 250px;
    }
    .date-image {
        width: 250px; /* Sesuaikan ukuran gambar */
    }
}
@media (max-width: 480px) {
    .section {
        padding: 20px;
    }
    .section p, .section .date-image {
        font-size: 1em;
    }
    .section img {
        width: 200px;
    }
    .date-image {
        width: 200px; /* Sesuaikan ukuran gambar */
    }
}